.global {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.loadContainer {
  height: 100vh;
  width: minmax(0px, 100vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  animation: 1.5s linear 2.5s loadContainer;
}

.loadingBar {
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  background-color: #a7cae1;
  width: 100%;
  height: 2vh;
  border-radius: 20px;
  animation: 2s linear loading;
}

@keyframes loading {
  0% {
    width: 0px;
    height: 0px;
  }
  10% {
    width: 1px;
    height: 0.5vh;
  }
  90% {
    width: 100%;
    height: 0.5vh;
  }
  100% {
    height: 2vh;
  }
}

@keyframes loadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}

.modernContainer {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

.topBar {
  background-color: #464646;
  color: white;
  display: grid;
  grid-template-columns: 5fr 10fr 3fr 4fr 4fr;
  align-items: center;
  justify-items: left;
  height: 12vh;
}

.topLeftLogo:hover {
  background: linear-gradient(to bottom, #1f1f1f, rgb(139, 139, 139));
  animation: navHover 2s linear;
  cursor: pointer;
}

.topLeftLogo:active {
  box-shadow: 2px 0px grey;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.6em;
  height: 100%;
  align-items: center;
}

.navbar div {
  display: flex;
  align-items: center;
  font-weight: lighter;
  font-size: 2em;
  font-family: helvetica;
  padding-right: 1.2vw;
  padding-left: 1.2vw;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
}

.navbar div:hover {
  background: linear-gradient(to bottom, #1f1f1f, rgb(139, 139, 139));
  animation: navHover 2s linear;
  cursor: pointer;
}

.navbar div:active {
  box-shadow: 2px 0px grey;
}

@keyframes navHover {
  0% {
    opacity: 0;
  }
}

.logoContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 1vh;
  padding-top: 20vh;
  height: auto;
  perspective: 40px;
}

.logoContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* box-shadow: 20px 20px #00000056; */
}

.logo {
  transition: transform 2s;
}

.contactIcons {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 1fr;
  gap: 10px;
}

.contactIcons div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactIcons div:hover {
  background: linear-gradient(to bottom, #1f1f1f, rgb(139, 139, 139));
  animation: navHover 2s linear;
  cursor: pointer;
}

.contactIcons img {
  height: 6vh;
  width: 3vw;
}

.display {
  /* height: calc(88vh - 10px);
  width: calc(100vw - 10px); */
  height: 88vh;
  width: 100vw;
}

.contentContainer {
  height: 88vh;
  width: 100vw;
}

.content {
  display: grid;
  grid-template-columns: 3fr 3fr;
  height: 88vh;
}

.profPic {
  display: flex;
  justify-content: right;
  vertical-align: bottom;
  padding-top: 10vh;
  padding-right: 1vw;
  overflow: hidden;
  perspective: 10vh;
  animation: prof 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes prof {
  0% {
    padding-top: 100vh;
  }
  60% {
    padding-top: 100vh;
    transform: rotate(45deg);
  }
  100% {
    padding-top: 10vh;
  }
}

.homeBio {
  display: flex;
  vertical-align: center;
  padding-top: 20vh;
  overflow: hidden;
  animation: bio 7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes bio {
  0% {
    padding-top: 150vh;
  }
  60% {
    padding-top: 150vh;
    transform: rotate(45deg);
  }
  100% {
    padding-top: 20vh;
  }
}

.profPicStatic {
  display: flex;
  justify-content: right;
  vertical-align: bottom;
  padding-top: 10vh;
  padding-right: 1vw;
  overflow: hidden;
  perspective: 100px;
}

.homeBioStatic {
  display: flex;
  vertical-align: center;
  padding-top: 20vh;
  overflow: hidden;
}

@media only screen and (min-height: 750px) {
  .profPic {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    padding-top: 21vh;
    padding-right: 1vw;
    overflow: hidden;
    perspective: 10vh;
    animation: prof 6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes prof {
    0% {
      padding-top: 100vh;
    }
    60% {
      padding-top: 100vh;
      transform: rotate(45deg);
    }
    100% {
      padding-top: 21vh;
    }
  }

  .homeBio {
    display: flex;
    vertical-align: center;
    padding-top: 26vh;
    overflow: hidden;
    animation: bio 7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes bio {
    0% {
      padding-top: 250vh;
    }
    60% {
      padding-top: 250vh;
      transform: rotate(45deg);
    }
    100% {
      padding-top: 26vh;
    }
  }

  .profPicStatic {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    padding-top: 21vh;
    padding-right: 1vw;
    overflow: hidden;
    perspective: 100px;
  }

  .homeBioStatic {
    display: flex;
    vertical-align: center;
    padding-top: 26vh;
    overflow: hidden;
  }
}

@media only screen and (min-height: 960px) {
  .profPic {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    padding-top: 28vh;
    padding-right: 1vw;
    overflow: hidden;
    perspective: 10vh;
    animation: prof 6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes prof {
    0% {
      padding-top: 100vh;
    }
    60% {
      padding-top: 100vh;
      transform: rotate(45deg);
    }
    100% {
      padding-top: 28vh;
    }
  }

  .homeBio {
    display: flex;
    vertical-align: center;
    padding-top: 28vh;
    overflow: hidden;
    animation: bio 7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes bio {
    0% {
      padding-top: 250vh;
    }
    60% {
      padding-top: 250vh;
      transform: rotate(45deg);
    }
    100% {
      padding-top: 28vh;
    }
  }

  .profPicStatic {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    padding-top: 28vh;
    padding-right: 1vw;
    overflow: hidden;
    perspective: 100px;
  }

  .homeBioStatic {
    display: flex;
    vertical-align: center;
    padding-top: 28vh;
    overflow: hidden;
  }
}

.aboutContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.aboutProfPic {
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 20px;
  height: auto;
  width: auto;
}

.aboutBio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutSkills {
  display: flex;
  align-items: bottom;
  justify-content: center;
  overflow: hidden;
  height: 50vh;
}

.aboutExperiences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: bottom;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
  height: 50vh;
}

.hoverForSkills {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 4fr;
}

.hoverForExperiences {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4fr 1fr;
}

.hoverArea {
  background-color: #464646;
  color: white;
  font-size: 1em;
  font-family: helvetica;
  border-radius: 10px;
  animation: 4s linear infinite hoverToExpand;
  
}

@keyframes hoverToExpand {
  0% {
    transform: scaleX(100%);
    transform: scaleY(100%);
  }
  50% {
    transform: scaleX(120%);
    transform: scaleY(120%);
  }
  100% {
    transform: scaleX(100%);
    transform: scaleY(100%);

  }
}

.expCard {
  height: 14vh;
  width: 12vw;
  border-radius: 30px;
  /* background-image: linear-gradient(to right, #a7cae1, white); */
  background: #a7cae1;
  color:rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 2vh;
}

.expCard:hover {
  /* background: #a7cae1; */
  background-image: linear-gradient(to right, #a7cae1, #b5d9f0);
  animation: expHover 4s linear;
  cursor: pointer;
  border: 1px solid lightgray;
}

.expCard:active {
  box-shadow: 2px 0px grey;
}

.textLoadContainer {
  height: 100vh;
  width: minmax(0px, 100vw);
  overflow: hidden;
  animation: 1s linear 0.1s textLoadContainer;
}

@keyframes textLoadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}