.global {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.loadContainer {
  height: 100vh;
  width: minmax(0px, 100vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  animation: 1.5s linear 2.5s loadContainer;
}

.loadingBar {
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  background-color: #a7cae1;
  width: 100%;
  height: 2vh;
  border-radius: 20px;
  animation: 2s linear loading;
}

@keyframes loading {
  0% {
    width: 0px;
    height: 0px;
  }
  10% {
    width: 1px;
    height: 0.5vh;
  }
  90% {
    width: 100%;
    height: 0.5vh;
  }
  100% {
    height: 2vh;
  }
}

@keyframes loadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}

/* Custom cursor -> prevent default cursor */
.global > * {
  cursor: none !important;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #a7cae1;
  opacity: 60%;
  background: white;

  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* touch-action: none; */
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150%, 150%;
  z-index: 999;
}

.modernContainer {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

.topBar {
  background-color: #464646;
  color: white;
  display: grid;
  grid-template-columns: 5fr 10fr 3fr 4fr 1fr;
  align-items: center;
  justify-items: left;
  height: 12vh;
  /* display: flex; */
}

.topLeftLogo {
  height: 12vh;
  display: flex;
  align-items: center;
}

.topLeftLogo:hover {
  animation: navHover 2s linear;
  /* cursor: pointer; */
}

.topLeftLogo:active {
  box-shadow: 0.1vh 0px grey;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.6em;
  height: 100%;
  align-items: center;
}

.navbar div {
  display: flex;
  align-items: center;
  font-weight: lighter;
  font-size: 2em;
  font-family: helvetica;
  padding-right: 1.2vw;
  padding-left: 1.2vw;
  margin-right: 1.2vw;
  margin-left: 1.2vw;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
}

.navbar div:hover {
  animation: navHover 2s linear;
  /* cursor: pointer; */
}

.navbar div:active {
  box-shadow: 0.1vh 0px grey;
}

@keyframes navHover {
  0% {
    opacity: 0;
  }
}

.logoContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 1vh;
  padding-top: 20vh;
  height: auto;
  perspective: 40px;
}

.logoContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* box-shadow: 20px 20px #00000056; */
}

.logo {
  transition: transform 2s;
}

.contactIcons {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 1fr;
  gap: 3vh;
}

.contactIcons div {
  display: flex;
  justify-content: right;
  align-items: center;
}

.contactIcons div:hover {
  background: linear-gradient(to bottom, #e72d2d, rgb(139, 139, 139));
  animation: navHover 2s linear;
  /* cursor: pointer; */
}

.contactIcons img {
  height: 6vh;
  width: 3vw;
}

.display {
  /* height: calc(88vh - 10px);
  width: calc(100vw - 10px); */
  height: 88vh;
  width: 100vw;
}

.contentContainer {
  height: 88vh;
  width: 100vw;
}

.content {
  display: grid;
  grid-template-columns: 3fr 3fr;
  height: 88vh;
  overflow: hidden;
  padding: none;
}

.profPic {
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  height: 100%;
  width: auto;
  padding-right: 1vw;
  overflow: hidden;
  perspective: 100px;
  animation: prof 6s cubic-bezier(0.075, 0.82, 0.165, 1);

  /* display: flex;
  justify-content: center;
  vertical-align: bottom;
  padding-right: 1vw;
  overflow: hidden;
  perspective: 100px;
  height: 100%;
  width: auto; */
}

@keyframes prof {
  0% {
    padding-top: 150vh;
  }
  60% {
    padding-top: 0vh;
    transform: rotate(45deg);
  }
  100% {
    padding-top: 0vh;
  }
}

.homeBio {
  display: flex;
  vertical-align: center;
  padding-top: 18vh;
  overflow: hidden;
  animation: bio 7s cubic-bezier(0.075, 0.82, 0.165, 1);

  /* display: flex;
  vertical-align: center;
  padding-top: 20vh;
  overflow: hidden; */
}

@keyframes bio {
  0% {
    padding-top: 150vh;
  }
  60% {
    padding-top: 150vh;
    transform: rotate(45deg);
  }
  100% {
    padding-top: 20vh;
  }
}

.profPicStatic {
  display: flex;
  justify-content: center;
  /* align-items: ; */
  vertical-align: bottom;
  /* padding-top: 16vh; */
  padding-right: 1vw;
  overflow: hidden;
  perspective: 100px;
  height: 100%;
  width: auto;
  align-self: center;
  /* changed here */
  /* position: relative; */
}

.homeBioStatic {
  display: flex;
  vertical-align: center;
  padding-top: 18vh;
  overflow: hidden;
}

/* For Safari */

.cardContainerProf {
  display: flex;
  justify-content: right;
  align-items: bottom;
  position: absolute;
  bottom: -2vh;
  right: 5vh;
}

.card {
  resize: inline;
}

/* @media only screen and (min-height: 850px) {
  .profPic {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    padding-top: 20vh;
    padding-right: 1vw;
    overflow: hidden;
    perspective: 10vh;
    animation: prof 6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes prof {
    0% {
      padding-top: 100vh;
    }
    60% {
      padding-top: 100vh;
      transform: rotate(45deg);
    }
    100% {
      padding-top: 20vh;
    }
  }

  .homeBio {
    display: flex;
    vertical-align: center;
    padding-top: 26vh;
    overflow: hidden;
    animation: bio 7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes bio {
    0% {
      padding-top: 250vh;
    }
    60% {
      padding-top: 250vh;
      transform: rotate(45deg);
    }
    100% {
      padding-top: 26vh;
    }
  }

  .profPicStatic {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    align-items: bottom;
    padding-right: 1vw;
    padding-bottom: none;
    overflow: hidden;
    perspective: 100px;
  }

  .homeBioStatic {
    display: flex;
    vertical-align: center;
    padding-top: 20vh;
    overflow: hidden;
  }
} */

.samProfileImage {
  height: 60vh;
}

.bioCard {
  height: 32vh;
}

.aboutCard {
  /* height: 100%;
  width: 100%; */
  height: 60vh;
  width: 60vw;
  border-radius: 0px;
  /* background-image: linear-gradient(to right, #a7cae1, white);  */
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: top;

  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid lightgray;
  /* background-color: #a7cae1; */
}

.aboutCard:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.skills {
  background-image: url("./Images/businessCardBack.png");
  background-size: 100% 100%;
}

.aboutContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 6fr;
  /* background-color: #464646; */
  background-image: url("./Images/businessCard.png");
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  /* grid-template-rows: 1fr 8fr 2fr; */
}

.aboutProfPic {
  display: flex;
  align-items: top;
  justify-content: center;
  height: auto;
  width: auto;
  /* border: 5px solid black; */
  align-items: center;
  justify-content: center;
}

.aboutBio {
  display: grid;
  align-items: top;
  justify-content: left;
  text-align: left;
  padding: 5vh;
  border-left: 1.5px solid #a7cae1;
  height: 20%;
  width: auto;
  padding: 20%;
  overflow: visible;
  color: #a7cae1;
  font-weight: lighter;
  font-size: 2em;
  font-family: helvetica;

  /* border: 5px solid black; */
}

.aboutBio > div {
  font-size: 0.8em;
}

.aboutSkills {
  display: grid;
  grid-template-columns: 12fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100vw;
}

.aboutExperiences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 5vh;
  height: 80%;
}

.hoverForSkills {
  display: grid;
}

.hoverForExperiences {
  display: grid;
  justify-self: end;
}

.hoverAreaSkills {
  background-color: #464646;
  color: white;
  font-size: 1em;
  font-family: helvetica;
  border-top-right-radius: 16px;
  height: 10vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}

.hoverAreaExp {
  background-color: #464646;
  color: white;
  font-size: 1em;
  font-family: helvetica;
  border-top-left-radius: 16px;
  height: 10vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}

/*  */
.expCardContainer {
  background-color: transparent;
  perspective: 1000px;
  height: 30vh;
  width: 30vw;
}

.expCard {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  /* background-image: linear-gradient(to right, #a7cae1, white); */
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: top;

  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid lightgray;
  /* background-color: #a7cae1; */
}

.expCard:hover {
  /* background: #a7cae1; */
  /* background-image: linear-gradient(to right, #a7cae1, #b5d9f0); */
  /* animation: expHover 4s linear; */
  /* cursor: pointer; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;

  /* border: 1px solid black; */
}

.expCard:active {
  box-shadow: 2px 0px grey;
}

/* Position the front and back side */
.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: inherit;
  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
}

/* Style the front side (fallback if image is missing) */
.front {
  background: #a7cae1;
  color: #464646;
}

/* Style the back side */
.back {
  transform: rotateY(180deg);
  background: #464646;
  color: white;
  /* height: 70vh;
  width: 80vw;
  display: flex;
  align-self: center;
  justify-self: center; */
}

/*  Undergrad card styling */

.undergrad {
  display: flex;
  justify-content: center;
  align-content: center;
}

.undergradDetails {
  display: flex;
  justify-content: left;
  text-align: right;
  align-items: center;
  padding: 6vh;
}

.undergradCardContainer {
  background-color: transparent;
  perspective: 1000px;
  margin-top: 12vh;
  height: 60vh;
  width: 60vw;
}

.undergradCardContainerAbout {
  background-color: transparent;
  perspective: 1000px;
  margin-top: 12vh;
  height: 60vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.undergradCard {
  height: 60vh;
  width: 60vw;
  border-radius: 30px;
  /* background-image: linear-gradient(to right, #a7cae1, white); */
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: top;

  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid lightgray;
  /* background-color: #a7cae1; */
}

.undergradCard:hover {
  /* background: #a7cae1; */
  /* background-image: linear-gradient(to right, #a7cae1, #b5d9f0); */
  /* animation: expHover 4s linear; */
  /* cursor: pointer; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;

  /* border: 1px solid black; */
}

.undergradCard:active {
  box-shadow: 2px 0px grey;
}

/* Position the front and back side */
.undergradFront,
.undergradBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: inherit;
  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
}

/* Style the front side (fallback if image is missing) */
.undergradFront {
  background: #a7cae1;
  color: #464646;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  transform: rotateY(0deg);
}

/* Style the back side */
.undergradBack {
  transform: rotateY(180deg);
  background: #a7cae1;
  opacity: 60%;
  color: white;
  height: 60vh;
  width: 60vw;
  /* height: 70vh;
  width: 80vw;
  display: flex;
  align-self: center;
  justify-self: center; */
}

.nameSpot:hover,
.uncSpot:hover,
.picSpot:hover,
.majorSpot:hover,
.minorSpot:hover,
.sonderSpot:hover,
.climbingSpot:hover {
  opacity: 40%;
  background-color: #a7cae1;
  box-shadow: 0 0 2px 2px #a7cae1;
  transition: 0.4s;
  z-index: 10;
}

.nameSpot {
  position: absolute;
  top: 21vh;
  left: 21vw;
  /* z-index: 10; */
  height: 4.5vh;
  width: 20.8vw;
}

.uncSpot {
  position: absolute;
  top: 1.8vh;
  left: 1.8vw;
  /* z-index: 10; */
  height: 16vh;
  width: 40vw;
}

.picSpot {
  position: absolute;
  top: 20vh;
  left: 2vw;
  /* z-index: 10; */
  height: 30vh;
  width: 15vw;
}

.majorSpot {
  position: absolute;
  top: 26.5vh;
  left: 23vw;
  /* z-index: 10; */
  height: 3vh;
  width: 18vw;
}

.minorSpot {
  position: absolute;
  top: 31vh;
  left: 23vw;
  /* z-index: 10; */
  height: 3.5vh;
  width: 34vw;
}

.sonderSpot {
  position: absolute;
  top: 51.4vh;
  left: 2vw;
  /* z-index: 10; */
  height: 2vh;
  width: 25vw;
}

.climbingSpot {
  position: absolute;
  top: 54.2vh;
  left: 2vw;
  /* z-index: 10; */
  height: 2vh;
  width: 15vw;
}

/*  */

/* Page load and section laod */
.textLoadContainer {
  height: 100vh;
  width: minmax(0px, 100vw);
  overflow: hidden;
  animation: 1s linear 0.1s textLoadContainer;
}

@keyframes textLoadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}

.wrap {
  height: 100%;
  width: 100%;
}

.container {
  display: inline-block;
  height: 88vh;
  width: 100vw;
  white-space: nowrap;

  overflow-x: hidden;
  overflow-y: hidden;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.horiPage {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 0px;

  overflow: hidden;
  scroll-snap-align: start;
}

/* About page horizontal switch */
.rightLoadContainer {
  height: 100vh;
  width: minmax(0px, 100vw);
  overflow: hidden;
  animation: 1s linear 0.1s rightLoadContainer;
}

@keyframes rightLoadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}

.leftLoadContainer {
  height: 100vh;
  width: minmax(0px, 100vw);
  overflow: hidden;
  animation: 1s linear 0.1s leftLoadContainer;
}

@keyframes leftLoadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}

/*  */

.returnToAboutRight {
  /* background-color: #464646; */
  background-image: linear-gradient(to right, #fff, #464646);
  opacity: 40%;
  color: black;
  font-size: 1em;
  font-family: helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 88vh;
  width: 2vw;
}

.returnToAboutLeft {
  /* background-color: #464646; */
  background-image: linear-gradient(to left, #fff, #464646);
  opacity: 40%;
  color: black;
  font-size: 1em;
  font-family: helvetica;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 88vh;
  width: 2vw;
}

.returnToAboutRight:hover,
.returnToAboutLeft:hover {
  animation: 0.5s linear aboutSlide;
  width: 4vw;
  opacity: 80%;
}

@keyframes aboutSlide {
  0% {
    width: 2vw;
  }
  100% {
    width: 4vw;
    opacity: 80%;
  }
}

.returnToAboutRight:active,
.returnToAboutLeft:active {
  width: 4vw;
  opacity: 50%;
}

.dots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-self: center;
  width: 8vw;
  height: 2vw;
  position: absolute;
  left: calc(50% - 5vw);
  bottom: 5%;
}

.dots div {
  height: 2vw;
  width: 2vw;
  border: solid 3px #a7cae1;
  border-radius: 100px;
  margin: 5px;
}

@keyframes aboutMainHover {
  0% {
    opacity: 40%;
  }
}

.experiencesContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.skillsContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes loadLeft {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    width: 1px;
  }
}

@keyframes loadRight {
  0% {
  }
  100% {
  }
}

/*  TodayCard styling */

.today {
  display: grid;
  grid-template-columns: 1fr 7fr 5fr;
}

.todayCardContainer {
  background-color: transparent;
  perspective: 1000px;
  padding-top: 10vh;
  height: 70vh;
  width: 30vw;
  padding-left: 20vh;
}

.todayCard {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  /* background-image: linear-gradient(to right, #a7cae1, white); */
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: top;

  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid rgba(240, 240, 240, 0.897);
  /* background-color: #a7cae1; */
}

.todayCard:hover {
  /* background: #a7cae1; */
  /* background-image: linear-gradient(to right, #a7cae1, #b5d9f0); */
  /* animation: expHover 4s linear; */
  /* cursor: pointer; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;

  /* border: 1px solid black; */
}

.undergradCard:active {
  box-shadow: 2px 0px grey;
}

/* Position the front and back side */
.undergradFront,
.undergradBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: inherit;
  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
}

.todayContent {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: right;
  padding: 5vh;
}

/* Style the front side (fallback if image is missing) */
.undergradFront {
  background: #a7cae1;
  color: #464646;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

/* Style the back side */
.undergradBack {
  transform: rotateY(180deg);
  background: #a7cae1;
  color: white;
  opacity: 60%;

  /* height: 70vh;
  width: 80vw;
  display: flex;
  align-self: center;
  justify-self: center; */
}

.la {
  /* height: 50vh;
  width: 50vh;
  margin-top: 10vh; */
  color: black;
  justify-content: center;
  align-items: center;
}

/*  */

.aboutMainContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self: center;
}

.scrollButton {
  margin: 3vh;
  height: 2vh;
  width: 100vh;
}

.fillOnHover {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: dashed 2px #a7cae1;
  border-top: none;
  overflow: hidden;
  width: 30vw;
  height: 22vh;
  padding: auto;
  padding-left: 0px;
  border-radius: 25px;
  color: #464646;
}

.fillOnHover:hover {
  /* background-color: #a7cae1; */
  background: linear-gradient(to left, white, #a7cae1);
  background-position: left bottom;
  color: #464646;
}

.fillOnHoverContainer {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  align-self: center;
  width: 44vh;
  margin-right: none;
  color: #464646;
}

.fillOnHoverContainer > div {
  width: inherit;
}

.text {
  align-items: center;
  justify-content: left;
  margin-left: 15vw;
  font-size: 16px;
  line-height: 30px;
  color: #464646;
  transition: all 0.4s ease-out;
  display: flex;
  width: 40vw;
  height: 22vh;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
}

.text:hover {
  color: #464646;
  margin-left: 10vw;
  opacity: 80%;
}

.fillOnHover:active {
  box-shadow: 0 0 10px #464646;
}

/* Blog Card Styling */

.blogsContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.blogButtons {
  padding-bottom: 10vh;
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #464646;
}

.blogCardContainerAbout {
  background-color: transparent;
  perspective: 1000px;
  min-height: 10vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 10fr;
}

.blogCard {
  height: 10vh;
  width: auto;
  color: #464646;
  display: flex;
  justify-content: center;
  align-items: top;

  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-left: 5vh;
  padding-right: 5vh;
}

.blogCard:hover {
  transition: 0.6s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.blogCard:active {
  box-shadow: 2px 0px grey;
}

/* Position the front and back side */
.blogPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
  color: #464646;
  overflow: hidden;
  object-fit: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5vh;
  padding-right: 5vh;
}

.blogHeader {
  margin-left: 20vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-self: left;
  font-family: helvetica;
  color: #464646;
}

.blogTitle,
.blogDate {
  color: #464646;
  font-weight: lighter;
}

.blogTitle {
  justify-self: left;
  padding-left: 5vh;
  align-self: center;
}

.blogDate {
  justify-self: right;
  padding-right: 5vh;
  align-self: center;
  font-style: italic;
}

.fullPost {
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  position: relative;
  justify-content: left;
  font-family: helvetica;
  color: #464646;
  padding-left: 5vh;
  padding-right: 5vh;
  animation: 0.5s linear 0s loadBlogPost;
  overflow: hidden;
}

@keyframes loadBlogPost {
  0% {
    height: 10vh;
  }
  100% {
    height: 70vh;
  }
}

.fullPost:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.fullPost:active {
  box-shadow: none;
}

.fullPost h1 {
  font-weight: normal;
}

.fullPost h2 {
  font-weight: lighter;
  font-style: italic;
}

.postDate {
  justify-self: right;
  align-self: bottom;
}

.post {
  font-family: helvetica;
  font-weight: normal;
}

.topOfBlogPost {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: left;
  align-items: center;
  border-bottom: 2px solid #bebebe;
}

/* BlogPostForm */
.cancel {
  margin: 25vh;
}

/* Contact Card Styling */
.contactContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.contact {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contactCardContainerAbout {
  background-color: transparent;
  perspective: 1000px;
  padding-top: 12vh;
  height: 60vh;
  width: 66vw;
  display: flex;
  margin-left: -15vw;
}

.contactCard {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: top;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid lightgray;
}

.contactCard:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.contactCard:active {
  box-shadow: 2px 0px grey;
}

/* Position the front and back side */
.contactFront,
.contactBack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 66vw;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: inherit;
  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
  background: #ffffff;
}

/* Style the front side (fallback if image is missing) */
.contactFront {
  color: #464646;
  display: flex;
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
}

/* Style the back side */
.contactBack {
  transform: rotateY(180deg);
  color: #464646;
  overflow: hidden;
  object-fit: cover;
  display: grid;
  background-image: url("./Images/contactCardBack.png");
  background-size: 100% 100%;
  position: relative;
}

.postCardButtons {
  height: 100%;
  width: auto;
}

input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.contactForm {
}

.contactName {
  top: 29.5vh;
  left: 6vw;
  position: absolute;
  height: 4.8vh;
  width: 12.8vw;
  border: none;
  outline: none;
}

.contactEmail {
  top: 40vh;
  left: 6vw;
  position: absolute;
  height: 4.8vh;
  width: 12.8vw;
  border: none;
  outline: none;
}

.contactMessage {
  top: 22vh;
  left: 29.3vw;
  position: absolute;
  height: 30vh;
  width: 26vw;
  border: none;
  resize: none;
  overflow-y: scroll;
  outline: none;
}

.sendDiv {
  position: absolute;
  bottom: 0;
  right: -30vh;
  height: 60vh;
  width: 12vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10vh;
}

.contactSend {
  height: 60vh;
  width: 12vw;
  border: none;
}

.sendEmail,
.cancelEmail {
  background-size: 100% 100%;
}

.sendEmail {
  background-image: url("./Images/sendIcon.png");
  border-radius: 20%;
}
.cancelEmail {
  background-image: url("./Images/cancelIcon.png");
  border-radius: 60%;
}

.sendEmail:hover,
.cancelEmail:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.sendEmail:active,
.cancelEmail:active {
  box-shadow: none;
}

/* Project Card Styling */

.projectContainer {
  height: 88vh;
  width: auto;
  overflow-y: scroll;
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  transition: 0.6s;
  scrollbar-width: none;
}
.projectContainer::-webkit-scrollbar {
  display: none;
}

.project,
.projectOuter {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #464646;
  scroll-snap-align: start;
}

.projectOuter {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100vw;
}

.projectCardContainer {
  background-color: transparent;
  perspective: 1000px;
  min-height: 10vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 10fr;
  /* margin: 10vh; */
}

.projectCard {
  height: 50vh;
  width: auto;
  color: #464646;
  display: flex;
  justify-content: center;
  align-items: top;

  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

/* Position the front and back side */
.projectPreview {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
  color: #464646;
  overflow: hidden;
  object-fit: cover;
  display: grid;
  grid-template-columns: 4fr 3fr;
  padding-left: 5vh;
  padding-right: 5vh;
}

.nonGithubProject {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
  color: #464646;
  overflow: hidden;
  object-fit: cover;
  display: grid;
  padding-left: 5vh;
  padding-right: 5vh;
}

.leftProjCard {
  border-right: 2px dashed #464646;
  height: 100%;
  display: grid;
  /* display: inline-block; */
  grid-template-rows: 4fr 3fr;
  text-align: right;
  position: relative;
}

.rightProjCard {
  grid-template-rows: 4fr 1fr;
  height: 100%;
  display: grid;
  position: relative;
}

.projectTitle,
.projectTools,
.projectDesc,
.projectLink {
  color: #464646;
  font-weight: lighter;
  /* border: 1px solid black; */
  display: flex;
  padding: 2vh;
  position: absolute;
}

/* .projectTitle:hover,
.projectTools:hover,
.projectDesc:hover,
.projectLink:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
} */

.projectTitle {
  text-align: left;
  padding-left: 5vh;
  font-size: 1.8em;
  top: 0;
  left: 0;
}

.projectTools {
  font-style: italic;
  display: grid;
  grid-template-rows: 1fr;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5vh;
}

.projectDesc {
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  padding: 5vh;
}

.projectLink {
  display: flex;
  align-items: bottom;
  justify-content: right;
  padding-right: 5vh;
  bottom: 0;
  right: 0;
  color: #46464681;
  font-style: italic;
}

@keyframes loadBlogPost {
  0% {
    height: 10vh;
  }
  100% {
    height: 70vh;
  }
}

.projectCard:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.projectCard:active {
  box-shadow: none;
}

.projectTitle {
  font-weight: normal;
  justify-content: left;
  align-content: top;
}

.projectDesc {
  font-weight: normal;
  justify-content: left;
  align-content: bottom;
}

.project {
  font-family: helvetica;
  font-weight: normal;
}

.topOfBlogPost {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: left;
  align-items: center;
  border-bottom: 2px solid #bebebe;
}

.scroller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 8vw;
}

.scrolling0 {
  font-weight: bolder;
  height: 2vh;
  width: 8vw;
  background-color: #464646;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition: 0.4s;
  border-radius: 20vh;
  transition: 0.6s;
}

.scrolling1 {
  font-weight: lighter;
  height: 4vh;
  background-color: #464646;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition: 0.4s;
  border-radius: 20vh;
  width: 12vw;
  transition: 0.6s;
}

.scrolling0:hover,
.scrolling1:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.scrolling0:active,
.scrolling1:active {
  box-shadow: none;
  transition: 0.6s;
}

/* Mobile CSS */

/**
 * Firefox specific rule
 */

.globalMobile {
  overflow: hidden;
  color: #eaeaea;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.modernContainerMobile {
  background-color: #ffffff;
  height: 100%;
}

.mobileNavIconContainer {
  position: relative;
  /* background-color: white; */
  height: 0;
  color: black;
  top: 0;
  right: 0;
}

.mobileNavIcon {
  position: absolute;
  right: 0;
  height: 10vh;
}

.displayMobile {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./Images/mobileBackground.png");;
}

/* .logoMobile,
.screenHeaderMobile {
  display: flex;
  justify-content: center;
  -moz-osx-font-smoothing: grayscale;
} */
.logoMobile {
  /* height: 24vh;
  margin-top: 7vh;
  margin-bottom: 5vh;
   */

  position: relative;
  width: 88vw;
  height: 28vh;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #f8f8f8;
  border: 1px solid #000000;
  border-radius: 27px;
  filter: drop-shadow(-2vh -1vh 1vh rgba(0, 0, 0, 0.25));

}

.screenHeaderMobile {
  height: 20vh;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  /* margin-top: -30vh; */
  color: #5f2c3e;
  width: 60vw;
}

@-moz-document url-prefix() {
  body .with-ff-fix {
    font-weight: 600 !important;
  }
}

.homeDescMobile,
.screenContainerMobile {
  /* font-size: 1.5em;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  flex: 1 1;
  align-items: flex-start; */
  box-sizing: border-box;

  position: relative;
  width: 78vw;
  height: auto;
  margin-top: 8vh;
  /* display: inline-flex;
  flex-direction: column; */
  padding-left: 2.5vw;
  justify-content: center;
  border: 1px dashed #9747ff;
  border-radius: 5px;
}

.homeButton,
.screenButton {
  font-size: 1.2em;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  margin: 1.3vh;
  opacity: 0.9;
  background-color: #d9d9d9;
  /* border: 1vh solid #3ddfa6; */
  border: 1px solid #625959;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.396);
}

/* .homeButton:active,
.screenButton:active {
  box-shadow: 0 0 2px 2px #b9c1b6;
  border: 1vh solid #b9c1b6;
} */

.mobileSlide {
  right: 10px;
  position: absolute;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #625959;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobileScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  align-items: center;
  color: #5f2c3e;
}

/*  */
.homeButton:active .mobileSlide {
  animation: homeButtonPress 0.6s normal forwards ease-in 1;
}

@keyframes homeButtonPress {
  from {
    left: 0px;
  }
  to {
    left: 400%;
  }
}

.homeButton {
  width: 54vw;
  height: 8vh;
  padding-left: 6vw;
  padding-right: 6vw;
}

.screenButton {
  width: 54vw;
  height: 8vh;
  /* justify-content: left; */
  padding-left: 4vh;
  /* display: flex; */
}

.bioMobile {
  /* align-items: top;
  display: flex;
  flex-direction: column; */
}

.loadContainerMobile {
  height: 100vh;
  width: minmax(0px, 100vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  animation: 1.5s linear 2.5s loadContainer;
}

.loadingBarMobile {
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  background-color: #020180;
  width: 100%;
  height: 2vh;
  border-radius: 20px;
  animation: 2s linear loading;
}
