.loadContainer {
   height: 100%;
   width: minmax(0px, 100vw);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   justify-items: center;
   align-items: center;
   overflow: hidden;
   animation: 2s linear 2.5s loadContainer;
}

.loadingBar {
   grid-column: 2;
   grid-row: 2;
   justify-content: center;
   background-color: #A7CAE1;
   width: 100%;
   height: 2vh;
   border-radius: 20px;
   animation: 2s linear loading;
}

@keyframes loading {
   0% {
      width: 0px;
      height: 0px;
   }
   10% {
      width: 1px;
      height: 0.5vh;
   }
   90% {
      width: 100%;
      height: 0.5vh;
   }
   100% {
      height: 2vh;
   }
}

@keyframes loadContainer {
   0% {
      height: 100vh;
      width: 100vw;
   }
   100% {
      height: 1px;
   }
}

.modernContainer {
   /* background-image: url(./Images/bluePaper.jpeg);
   background-size: cover; 
   background-position: fixed;
   background-repeat: no-repeat; */
   text-align:center;
   scroll-snap-type: y mandatory;
   width: 100vw;
   height: 100vh;
   overflow: scroll;
   scroll-behavior: smooth;
}

.logoContainer {
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   gap: 1vh;
   padding-top: 20vh;
   height: auto;
   perspective: 40px;
}

.logoContainer img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   /* box-shadow: 20px 20px #00000056; */
   

}

.logo {
   transition: transform 1s;
}

 .modernContainer > div {
   height: 100vh;
   width: 100vw;
   scroll-snap-align: start;
   scroll-snap-stop: always;
}

.loadingSection {
   background-color: #505050;
   color: white;
}

.section {
   background-color: #505050;
   display: grid;
   grid-template-columns: 1fr 1fr;
   /* padding: 5vh; */
}

.scrollSvg {
   position: sticky;
   opacity: 0.8;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   top: 0px;
   /* z-index: 1; */
}

.cardContainer {
   display: grid;
   grid-template-rows: 1fr 2fr 2fr;
   gap: 1vh;
   width: auto;
   perspective: 40px;
   padding: 5vh;
}

.card {
   transition: transform 1s;
   border: 5px solid white;
}