.RetroApp {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
  background-color: #bfbfbf;
  overflow: hidden;
}

.sideBar {
  display: block;
  margin: 0.5vh;
  margin-top: 0px;
  margin-left: 4px;
  height: 79.8vh;
  width: 10vw;
  border-bottom: 2px solid #969696;
}

.sideButton {
  margin-top: 0px;
  width: 10vw;
}

.sideButton button {
  border-radius: 0px;
  background-color: #bfbfbf;
  color: rgb(44, 44, 44);
  height: 5vh;
  width: 10vw;
  box-shadow: 2px 2px black;
  font-weight: bold;
  font-size: 12px;
}

.sideButton button:hover {
  background-color: rgb(172, 172, 172);
  color: black;
  box-shadow: 2px 2px black;
}

.sideButton button.active {
  box-shadow: 1px 1px black;
}

.titleBar {
  overflow: hidden;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 8px;
  padding-left: 50px;
  border: 1px;
  border-style: solid;
  background-color: #020180;
  color: white;
  align-items: center;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fileBar {
  overflow: hidden;
  font-size: 8px;
  padding-left: 4px;
  align-items: center;
  height: 25px;
  display: flex;
  align-items: center;
}

.fileBar button {
  background-color: #bfbfbf;
  border: none;
  margin-right: 1px;
  height: 5vh;
}

.fileBar button:hover {
  background-color: rgb(172, 172, 172);
  color: black;
  box-shadow: 2px 1px black;
}

.fileBar button:active {
  background-color: #cecccc;
  box-shadow: 2px 1px rgb(161, 161, 161);
}

.fileName {
  display: inline-block;
  height: auto;
}

.minMaxEsc {
  display: inline-block;
  margin-right: 3px;
  justify-content: center;
  align-content: center;
}

.minimize {
  content: "&#95;";
}

.maximize {
  content: "&square;";
}

.esc {
  content: "&times;";
}

.minMaxEsc button {
  border-radius: 0px;
  background-color: #bfbfbf;
  color: black;
  height: 20px;
  width: 23px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 1px;
  padding: 0px;
  box-shadow: 5px black;
  font-size: 14px;
  font-weight: bolder;
  justify-content: center;
  align-content: center;
  padding-bottom: 18px;
}

.minMaxEsc button:hover {
  background-color: rgb(172, 172, 172);
  color: black;
}

.minMaxEsc button.active {
  box-shadow: 1px 1px black;
}

.paintBoard {
  height: 80vh;
  width: 89vw;
  display: block;
  background-color: #7f7f7f;
}

.whiteArea {
  margin: 5px;
  float: top left;
  height: 74vh;
  width: 78vw;
  min-width: 1vw;
  min-height: 1vh;
  max-width: 88.3vw;
  max-height: 78.9vh;
  resize: both;
  overflow: auto;
  background-color: white;
  cursor: crosshair;
}

.sideAndBoard {
  display: flex;
  height: 80vh;
}

.aboutMe {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 4vh;
  padding: 2vh;
  background-color: whitesmoke;
}

.belowPaintBoard {
  height: calc(19.5vh - 50px);
  width: 100vw;
  display: flex;
}

.belowSideBar {
  width: 10vw;
  margin: 0.5vh;
  margin-bottom: 0px;
  float: left;
}

.belowPaint {
  height: calc(19.5vh - 50px);
  width: 90vw;
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  justify-content: right;
}

.upgradeButton {
  height: 5vh;
  width: 8vw;
  margin-right: 20px;
}

.upgradeButton button {
  height: 5vh;
  width: 8vw;
  border-radius: 0px;
  background-color: #bfbfbf;
  color: rgb(44, 44, 44);
  box-shadow: 3px 3px black;
  font-weight: bolder;
  font-size: 20px;
  animation-name: upgrade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.upgradeButton button:hover {
  background-color: rgb(172, 172, 172);
  color: black;
  box-shadow: 2px 2px black;
  animation: none;
  cursor: pointer;
}

.upgradeButton button:active {
  box-shadow: 1px 1px black;
}

@keyframes upgrade {
  0% {
    background-color: #bfbfbf;
    box-shadow: 3px 3px black;
    height: 5vh;
    width: 8vw;
  }
  25% {
    background-color: rgb(172, 172, 172);
    box-shadow: 5px 5px black;
    height: 5.2vh;
    width: 8.2vw;
  }
  50% {
    background-color: #bfbfbf;
    box-shadow: 3px 3px black;
    height: 5vh;
    width: 8vw;
  }
  75% {
    background-color: rgb(172, 172, 172);
    box-shadow: 5px 5px black;
    height: 5.2vh;
    width: 8.2vw;
  }
}

.dialogueBox {
  margin-right: 25px;
  font-size: 14px;
  background-color: #cacaca;
  height: 8vh;
  width: 24vw;
}

.dialogueBox button {
  height: 8vh;
  width: 24vw;
  border-radius: 0px;
  background-color: #bfbfbf;
  color: rgb(44, 44, 44);
  font-size: 18px;
  font-weight: bold;
  box-shadow: 3px 3px black;
}

.dialogueBox button:hover {
  background-color: rgb(172, 172, 172);
  color: black;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.dialogueBox button:active {
  box-shadow: 1px 1px black;
}

.prompt {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.startUpdating {
  font-size: 20px;
  height: 20vh;
  width: 30vw;
  position: absolute;
  top: 20%;
  left: calc(50% - 15vw);
  background-color: #bfbfbf;
  border: 2px solid gray;
  box-shadow: 2px 2px black;
  padding-bottom: 30px;

  min-width: 24vw;
  min-height: 16vh;
  max-width: 60vw;
  max-height: 60vh;
}

.blueBar {
  overflow: hidden;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 8px;
  padding-left: 20px;
  border: 1px;
  border-style: solid;
  background-color: #020180;
  color: white;
  align-items: center;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blueBar:hover {
  cursor: default;
}

.startUpdating p {
  font-size: 20px;
  padding: 10px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.updatingButtons {
  display: flex;
  justify-content: center;
}

.updatingButtons button {
  margin: 8px;
  padding-left: 30px;
  padding-right: 30px;
  height: 3.5vh;
  border-radius: 0px;
  background-color: #bfbfbf;
  border: 2px solid gray;
  box-shadow: 2px 2px black;
}

.updatingButtons button:hover {
  background-color: rgb(172, 172, 172);
  color: black;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.updatingButtons button:active {
  box-shadow: 1px 1px black;
}

.progressBar {
  border: 2px solid black;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 3vh;
  width: calc(100% - 4vw - 5px);
  padding: 1px;
  background-color: rgb(216, 216, 216);
}

.growingBar {
  background-color: #020180;
  animation-name: load;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  height: min(calc(3vh - 0.5px));
  justify-content: left;
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.homePage {
  padding: 2vh;
}

.homePage p {
  font-size: 18px;
  margin-top: 5vh;
}

.retroAppLoader {
  height: 100vh;
  width: minmax(0px, 100vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  animation: 1.5s linear 5s loadContainer;
  background-color: #bfbfbf;
}

.retroAppLoadingBar {
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  background-color: #a8a8a8;
  width: 100%;
  height: 2vh;
  border: 2px solid gray;
  padding: 1px;
}

.loader {
  background-color: #020180;
  animation-name: loadingR;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  justify-content: left;
  height: calc(2vh - 1px)
}

/* Have loading bar grow into blue bar at top of screen */
@keyframes loadingR {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loadContainer {
  0% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 1px;
  }
}

/* .progressBar {
  border: 2px solid black;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 3vh;
  width: calc(100% - 4vw - 5px);
  padding: 1px;
  background-color: rgb(216, 216, 216);
}

.growingBar {
  background-color: #020180;
  animation-name: load;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  height: min(calc(3vh - 0.5px));
  justify-content: left;
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
} */